<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>support.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06BECBD11BE4D438002C5FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06BECBE51BE4D438002C5FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06BECBF01BE4D438002C5FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
